<% provide(:title, "Search results for #{params[:search]}") %>
<%= render 'search_form' %>

<div class="search pagination_wrapper">
  <h2><%= pluralize(@results.total, 'Result') %> for "<%= params[:search] %>"</h2>
  <div><%= will_paginate @results.search.results %></div>
</div>
<br>
<% if @results.total > 0 %>
  <table class="search results">
    <tr>
      <th class="search results first_column">中文</th>
      <th class="search results second_column">English</th>
    </tr>
  <% @results.result_set.each do |item| %>
    <tr class="search results <%= cycle("odd_tr", "even_tr") %>">
      <td>
        <div class="search results result_wrapper">
          <div><%= highlight(item[:chinese_paragraph].content, params[:search]) %></div>
          <br>
          <div class="search results full_article_div"><%= link_to "Full Article", item[:article], :controller => "articles" %></div>
        </div>
      </td>
      <td>
        <div class="search results result_wrapper">
          <div><%= highlight(item[:english_paragraph].content, params[:search]) %></div>
          <br>
          <div class="search results full_article_div"><%= link_to "Full Article", item[:article], :controller => "articles" %></div>
        </div>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

<br>
<div class="search pagination_wrapper">
  <%= will_paginate @results.search.results %>
</div>