<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="articles edit_table">
    <tr>
      <th class="articles edit_table first_column">中文</th>
      <th class="articles edit_table second_column">English</th>
    </tr>
    <tr>
      <td>
        <%= text_area_tag(:chinese, @article.chinese_article ? @article.chinese_article : "") %>
      </td>
      <td>
        <%= text_area_tag(:english, @article.english_article ? @article.english_article : "") %>
      </td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit class: "btn btn-large btn-primary"%>
  </div>
<% end %>
